
body, h1, h2, h3, p {
    margin: 0; 
    padding: 0;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6; 
}

header {
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 20px; 
}


nav ul {
    list-style-type: none;
    padding: 0; 
}


nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: white; 
    font-weight: bold; 
    text-decoration: none; 
}


section {
    margin: 20px; 
    padding: 20px; 
    background: white; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


h2 {
    color: #333; 
}


table {
    width: 100%; 
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #333; 
    padding: 10px;
    text-align: left; 
}

footer {
    text-align: center;
    background-color: #333; 
    color: white; 
    padding: 10px; 
}


img {
    display:inline; 
    margin-right: 10px;
    border-radius: 50%; 
    width: 100px; 
    height: 100px;
}